@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Inconsolata&display=swap");

@import "~bootstrap/scss/functions";

$font-family-sans-serif: "Lato", sans-serif;
$font-family-monospace:  "Inconsolata", monospace;

$font-size-base: 1rem;

$border-radius:    0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$h1-font-size: $font-size-base * 2.0;
$h2-font-size: $font-size-base * 1.8;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.4;
$h5-font-size: $font-size-base * 1.2;
$h6-font-size: $font-size-base * 1.0;

@import "~bootstrap/scss/variables";
@import "~bootswatch/dist/cosmo/variables";

@import "~bootstrap/scss/mixins";
