@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,400i,700|Inconsolata&display=swap");

@import "~bootstrap/scss/functions";

$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-family-monospace:  "Inconsolata", monospace;

$border-radius:    0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$h1-font-size: 2.0em;
$h2-font-size: 1.8em;
$h3-font-size: 1.6em;
$h4-font-size: 1.4em;
$h5-font-size: 1.2em;
$h6-font-size: 1.0em;

$enable-responsive-font-sizes: true;

@import "~bootstrap/scss/variables";

@import "~bootstrap/scss/mixins";

@import "mixins";
